<div class="error d-flex justify-content-center align-items-center vh-50 bg-light">
    <div class="container text-center">
      <div class="container-error-404">
        <div class="clip">
          <div class="shadow">
            <span class="digit thirdDigit">{{thirdDigit}}</span>
          </div>
        </div>
        <div class="clip">
          <div class="shadow">
            <span class="digit secondDigit">{{secondDigit}}</span>
          </div>
        </div>
        <div class="clip">
          <div class="shadow">
            <span class="digit firstDigit">{{firstDigit}}</span>
          </div>
        </div>
        <div class="msg">OH!<span class="triangle"></span></div>
      </div>
      <h2 class="h1">Вибачте! Сторінка не знайдена.</h2>
      <a class="btn btn-primary" routerLink="/" >Перейти на головну</a>
    </div>
  </div> 