<div *ngIf="product" class="product-container container">
  <div class="row">
    <div class="col-md-4 d-flex align-items-start">
      <img [src]="product.imageUrl" alt="{{product.name}}" class="product-image img-fluid" />
    </div>
    <div class="col-md-8">
      <h3 class="product-name">{{product.name}}</h3>
      <p class="product-stock">Є в наявності</p>
      <p class="product-price">{{product.price}} {{currency}}</p>
      <button (click)="openModal()" class="btn btn-success buy-button">Купити</button>
      <button (click)="goBack()" class="btn btn-secondary back-button">Назад</button>
      <h4 class="product-description-title">Опис товару</h4>
      <p class="product-description">{{product.description}}</p>
      <h4 class="comments-title">Коментарі:</h4>
      <div *ngFor="let comment of comments" class="comment">
        <p>{{comment}}</p>
      </div>
      <textarea [(ngModel)]="newComment" class="form-control comment-textarea" placeholder="Напишіть ваш коментар..."></textarea>
      <button (click)="addComment()" class="btn btn-success add-comment-button">Додати коментар</button>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="showModal" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h4 class="modal-title">Кошик</h4>
        <button (click)="closeModal()" class="close-button">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-product-info">
          <img [src]="product.imageUrl" alt="{{product.name}}" class="modal-product-image" />
          <div class="modal-product-details">
            <h5>{{product.name}}</h5>
            <p class="modal-product-price">{{product.price}} {{currency}}</p>
            <div class="quantity-control">
              <button (click)="decreaseQuantity()" class="quantity-button">-</button>
              <span class="quantity">{{quantity}}</span>
              <button (click)="increaseQuantity()" class="quantity-button">+</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="addToCart()" class="btn btn-success">Оформити замовлення</button>
        </div>
      </div>
    </div>
  </div>
</div>