<div class="container-fluid mt-4">  
<app-carousel> </app-carousel>

  <input class="form-control mb-4 mt-4" type="search" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()" placeholder="Фільтр за назвою" aria-label="Search">

  <div class="text-center mb-4">
    <button class="btn btn-outline-primary" (click)="filterByCategory('all')">Усі</button>
    <button class="btn btn-outline-primary" (click)="filterByCategory('Ліхтарики')">Ліхтарики</button>
    <button class="btn btn-outline-primary" (click)="filterByCategory('Розумні Годинники')">Розумні Годинники</button>
    <button class="btn btn-outline-primary" (click)="filterByCategory('Навушники')">Навушники</button>
    <button class="btn btn-outline-primary" (click)="filterByCategory('Туристичні Камери')">Туристичні Камери</button>
    <button class="btn btn-outline-primary" (click)="filterByCategory('Намети')">Намети</button>
  </div>

  <div class="row">
    <div class="col-12 col-md-2 mb-4" *ngFor="let product of getPaginatedProducts() | slice:0:5">
      <div class="card">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{product.name}}">
        <div class="card-body text-center">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price}} {{currency}}</p>
          <button class="btn btn-primary" (click)="viewProduct(product.id)">Перейти до товару</button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': page === currentPage}">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>