<div class="container">

  <div *ngFor="let item of cartItems" class="cart-item d-flex align-items-center border rounded mb-3 p-3">
    <img [src]="item.product.imageUrl" alt="{{item.product.name}}" class="cart-item-image mr-3" id="img"/>
    <div class="cart-item-details flex-grow-1">
      <h4 class="cart-item-name font-weight-bold">{{item.product.name}}</h4>
      <p class="cart-item-price">{{item.product.price}} {{currency}}</p>
      <div class="quantity-control d-flex align-items-center">
        <button (click)="decreaseQuantity(item.product.id)" class="btn btn-outline-primary btn-sm">-</button>
        <span class="mx-2">{{item.quantity}}</span>
        <button (click)="increaseQuantity(item.product.id)" class="btn btn-outline-primary btn-sm">+</button>
        <div class="text-center mt-4">
          <p class="font-weight-bold" id="total">Загальна сума: {{totalAmount}} {{currency}}</p>
        </div>
        <button (click)="removeFromCart(item.product.id)" class="btn btn-danger btn-sm ml-3" id="btn">Прибрати</button>
      </div>
    </div>
  </div>


  <div class="text-center mt-4">
    <h2 class="font-weight-bold">Замовлення</h2>
    <form (ngSubmit)="submitOrder()" #orderForm="ngForm" class="mt-4">
      <div class="form-group">
        <label for="recipientName">Отримувач:</label>
        <input type="text" id="recipientName" name="recipientName" [(ngModel)]="order.recipientName" #recipientName="ngModel" required class="form-control" placeholder="Прізвище Ім'я Побатькові" (input)="validateRecipientName($event)">
        <small *ngIf="recipientName.invalid && recipientName.touched" class="text-danger">Некоректний формат. Використовуйте тільки букви.</small>
      </div>
      <div class="form-group">
        <label for="phone">Мобільний телефон:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="order.phone" #phone="ngModel" required class="form-control" placeholder="+380000000000" (input)="onPhoneInput($event)">
        <small *ngIf="phone.errors?.['customError']" class="text-danger">{{ phone.errors?.['customError'] }}</small>
      </div>
      <div class="form-group">
        <label for="delivery">Доставка:</label>
        <select id="delivery" name="delivery" [(ngModel)]="order.delivery" #delivery="ngModel" required class="form-control">
          <option value="" disabled selected>Оберіть відділення</option>
          <option *ngFor="let branch of branches" [value]="branch">{{branch}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="payment">Оплата:</label>
        <select id="payment" name="payment" [(ngModel)]="order.payment" #payment="ngModel" required class="form-control">
          <option value="" disabled selected>Оберіть спосіб оплати</option>
          <option value="pay-now">Оплатити зараз</option>
          <option value="invoice">Безготівковий рахунок</option>
          <option value="installments">Оплата частинами</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success btn-block" [disabled]="!orderForm.valid">Оформити покупку</button>
    </form>
  </div>

  <div *ngIf="showConfirmation" class="confirmation-overlay" (click)="closeConfirmation()">
    <div class="confirmation-content" (click)="$event.stopPropagation()">
      <p class="confirmation-text">Ваш товар оформлений, дякуємо за покупку!</p>
      <button class="btn btn-success" (click)="closeConfirmation()">Закрити</button>
    </div>
  </div>
</div>