.carousel-item img {
  height: 50vh; 
  object-fit: cover;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 50vh; 
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-item {
  background: linear-gradient(to bottom, #ffffff, #7a73f6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 5s ease-in-out;
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 40vh; 
  }
}